<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="padding: 30px">Create new post</title>
    <link rel="stylesheet" href="/style.css"/> 
</head>
<body style="background-color:rgb(119, 157, 181)">
    <form method="post" action="/posts" >
        <input style="padding: 20px;" placeholder="username" name="username"><br/><br/>
        <textarea rows="20" cols="95" placeholder="Write your post" name="content"></textarea><br/><br/>
        <button style="padding: 20px">Submit</button>
    </form>
</body>
</html>